/DATA
/standard.jpg
/경상도 사투리와 표준어 문장 길이 분포.png
/단방향 GRU 모델 성능 그래프.png
/단방향 LSTM 모델 성능 그래프.png
/단방향 RNN 모델 성능 그래프.png
/데이터 500개 코사인 유사도 분포.png
/사투리 워드클라우드.png
/알아무긋나-1조.pdf
/양방향 GRU 모델 성능 그래프.png
/양방향 LSTM 모델 성능 그래프.png
/양방향 RNN 모델 성능 그래프.png
/전라도 사투리와 표준어 문장 길이 분포.png
/제주도 사투리와 표준어 문장 길이 분포.png
/표준어 워드클라우드.png
/학습전 가중치 분포.png
/학습후 가중치 분포.png